<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.aixuxi.ledger.mapper.LedgerTissueUserMapper">

    <select id="queryUserList" resultType="cn.aixuxi.ledger.vo.LedgerTissueUserVO">
        SELECT t1.id,
               t1.user_id                           as userId,
               t2.real_name                         as realName,
               t2.phone                             as phone,
               coalesce(t1.nick_name, t2.nick_name) as nickName
        FROM ledger_tissue_user t1
        LEFT JOIN ledger_user t2 on t1.user_id = t2.id
        WHERE t1.tissue_id = #{tissueId}
    </select>
</mapper>
