<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.aixuxi.ledger.mapper.LedgerRecordMapper">

    <insert id="saveOrUpdateRecordList">
        INSERT INTO ledger_record
        (
        user_id,
        transaction_time,
        transaction_category,
        counterparty_name,
        product_name,
        transaction_type,
        payment_method,
        amount,
        current_status,
        remark,
        transaction_sn,
        merchant_order_sn,
        counterparty_account,
        create_time,
        create_user,
        update_user,
        update_time
        )VALUES
        <foreach collection="list" item="item" separator="," index="index">
            (
            #{item.userId},
            #{item.transactionTime},
            #{item.transactionCategory},
            #{item.counterpartyName},
            #{item.productName},
            #{item.transactionType},
            #{item.paymentMethod},
            #{item.amount},
            #{item.currentStatus},
            #{item.remark},
            #{item.transactionSn},
            #{item.merchantOrderSn},
            #{item.counterpartyAccount},
            #{item.createTime},
            #{item.createUser},
            #{item.updateUser},
            #{item.updateTime}
            )
        </foreach>
        ON DUPLICATE KEY UPDATE
        update_time = values(update_time),
        update_user = values(update_user)
    </insert>
    <select id="queryIncomeRatioReport" resultType="cn.aixuxi.ledger.dto.LedgerReportDTO">
        SELECT "transaction_category" as "name",
               SUM("amount")          as "value"
        FROM ledger_record
        WHERE "user_id" = #{userId}
          AND "transaction_type" = 0
          AND "transaction_time" BETWEEN #{query.startTime} AND #{query.endTime}
        GROUP BY "transaction_category"
    </select>
    <select id="queryExpenseRatioReport" resultType="cn.aixuxi.ledger.dto.LedgerReportDTO">
        SELECT "transaction_category" as "name",
               SUM("amount")          as "value"
        FROM ledger_record
        WHERE "user_id" = #{userId}
          AND "transaction_type" = 1
          AND "transaction_time" BETWEEN #{query.startTime} AND #{query.endTime}
        GROUP BY "transaction_category"
    </select>
    <select id="queryOtherRatioReport" resultType="cn.aixuxi.ledger.dto.LedgerReportDTO">
        SELECT "transaction_category" as "name",
               SUM("amount")          as "value"
        FROM ledger_record
        WHERE "user_id" = #{userId}
          AND "transaction_type" = 2
          AND "transaction_time" BETWEEN #{query.startTime} AND #{query.endTime}
        GROUP BY "transaction_category"
    </select>
    <select id="queryRecentIncomeReport" resultType="cn.aixuxi.ledger.dto.LedgerReportDTO">
        SELECT "product_name" as "name",
               "amount"       as "value"
        FROM ledger_record
        WHERE "user_id" = #{userId}
          AND "transaction_type" = 0
          AND "transaction_time" BETWEEN #{query.startTime} AND #{query.endTime} LIMIT 10
    </select>
    <select id="queryRecentExpenseReport" resultType="cn.aixuxi.ledger.dto.LedgerReportDTO">
        SELECT "product_name" as "name",
               "amount"       as "value"
        FROM ledger_record
        WHERE "user_id" = #{userId}
          AND "transaction_type" = 1
          AND "transaction_time" BETWEEN #{query.startTime} AND #{query.endTime} LIMIT 10
    </select>
    <select id="queryRecentOtherReport" resultType="cn.aixuxi.ledger.dto.LedgerReportDTO">
        SELECT "product_name" as "name",
               "amount"       as "value"
        FROM ledger_record
        WHERE "user_id" = #{userId}
          AND "transaction_type" = 2
          AND "transaction_time" BETWEEN #{query.startTime} AND #{query.endTime} LIMIT 10
    </select>
</mapper>
